scripts/cache/*
!scripts/cache/.gitkeep
data/cache/*
!data/cache/.gitkeep
dump.log.tsv
osmr.log.tsv
data/cache-wiki-item-dump/*
!data/cache-wiki-item-dump/.gitkeep
data/cache-wiki-item-dump-404/*
!data/cache-wiki-item-dump-404/.gitkeep
*.properties
catalog-v001.xml

# fuseki-server
run/